version: '3'

services:
  post_db:
    image: mysql:latest
    container_name: mysql_host_post_container
    hostname: post_db_host
    ports:
      - "3308:3306"
    # 初期設定
    volumes: 
      - "./docker/mysql/my.conf:/etc/mysql/my.conf"
    # 環境変数
    environment:
      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
      MYSQL_DATABASE: ${DB_NAME}
      MYSQL_USER: ${DB_USER}
      MYSQL_PASSWORD: ${DB_PASSWORD}
      TZ: Asia/Tokyo
    networks:
      - test-network
    restart: always
  post_api:
    build: 
      context: ./docker/api
    container_name: post_api
    tty: true
    volumes:
      - .:/go/src/github.com/yzmw1213/PostService
    ports: 
      - "50053:50053"
    entrypoint:
      - dockerize
      - -timeout
      - 60s
      - -wait
      - tcp://post_db:3306
    command: sh -c "make generate; go run main.go"
    # 環境変数
    environment:
      USER_URL: ${USER_URL}
      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
      DB_NAME: ${DB_NAME}
      DB_ADRESS: post_db:3306
      DB_USER: ${DB_USER}
      DB_PASSWORD: ${DB_PASSWORD}
      AWS_ACCESS_KEY: ${AWS_ACCESS_KEY}
      AWS_SECRET_ACCESS_KEY: ${AWS_SECRET_ACCESS_KEY}
      AWS_S3_BUCKET_NAME: ${AWS_S3_BUCKET_NAME}
      AWS_S3_ENDPOINT: ${AWS_S3_ENDPOINT}
      AWS_S3_REGION: ${AWS_S3_REGION}
      AWS_S3_FAMILY_NAME: ${AWS_S3_FAMILY_NAME}
    networks:
      - test-network
    restart: always
networks:
    test-network:
        external: true
